*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "Segoe UI";

}
nav{
    background: #2C3E50;
    height: 80px;
    width: 100%;
    position: fixed;
}
label.logo{
    line-height: 80px;
    padding: 0 100px;
}
nav label img
{
    height: 80px;
    width: 140px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #597298;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }

}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3b4d5c;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #597298;
    }
    #check:checked ~ ul{
        left: 0;
    }

}
.timeline
{

    background: url(material/Pics/timeline.jpg) no-repeat;
    background-size: cover;
    height: 80vh;

}
.timeline-btns
{
    background: rgba(46, 65, 84, 0.64);
    height: 505px;
    margin-top: -505px;
}
.timeline-btns p
{
    font-size: 36px;
    color: white;
    background: rgba(59, 77, 92, 0.56);
}
.timeline-btns .login
{
    height: 50px;
    width: 200px;
}
.timeline-btns .login a
{
    padding: 10px 50px;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
    background: #ff9623;
    color: white;
    transition: 0.5s;
}
.timeline-btns .login a:hover
{

    background: #ff253a;
}
.timeline-btns .sign-up
{
    height: 50px;
    width: 200px;
}
.timeline-btns .sign-up a
{
    padding: 10px 38px;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
    background: #ff9623;
    color: white;
    transition: 0.5s;
}
.timeline-btns .sign-up a:hover
{
    background: #ff253a;
}
.footer
{
    background: #2C3E50;
    height: 150px;
    text-align: center;
    color: white;
    line-height: 100px;
}
.news
{
    font-size: 32px;
    height: 50px;
    background: #597298;
    color: white;
    position: relative;
    z-index: -2;
}
.news span
{
    line-height: 50px;
    padding: 5px;
    border-radius: 10px;
    animation: newsanimation 1s infinite;
}
@keyframes newsanimation {

    0%
    {
       background: darkcyan;
        color: #ff253a;
    }
    25%
    {
        background: green;
        color: yellow;
    }
    50%
    {
        background: brown;
        color: #ff9623;
    }
    75%
    {
        background: blueviolet;
        color: chartreuse;
    }
    100%
    {
        background: indigo;
        color: white;
    }
}
